[submodule "external/eigen-3.2.1"]
	path = external/eigen-3.2.1
	url = https://github.com/williammc/Eigen.git
[submodule "external/cmaker"]
	path = external/cmaker
	url = https://github.com/williammc/cmaker.git
