[submodule "external/cmaker"]
	path = external/cmaker
	url = https://github.com/williammc/cmaker.git
[submodule "external/slick"]
	path = external/slick
	url = git@gitlab.icg.tugraz.at:thanh.nguyen/slick.git
